src/main/resources/project_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="project">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:byte" name="id"/>
                <xs:element type="xs:string" name="name"/>
                <xs:element type="xs:string" name="identifier"/>
                <xs:element type="xs:string" name="description"/>
                <xs:element type="xs:string" name="homepage"/>
                <xs:element type="xs:byte" name="status"/>
                <xs:element type="xs:string" name="is_public"/>
                <xs:element type="xs:string" name="inherit_members"/>
                <xs:element type="xs:dateTime" name="created_on"/>
                <xs:element type="xs:dateTime" name="updated_on"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>